.p{
	border:1px solid black;
	width:400px;
	height:250px;
}
.q{
	margin:20px 20px 20px;
	height:180px;
	
	border:18px solid #5A49F6;
    background:#01AEBF;
	
}
.r{
	padding:5px 5px 5px;
	
	
	border:2px solid black;
	
}